@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

body {
  /* background-color: #05021d; */
  background-image: linear-gradient( #05021d, #0b0635);
  height: 100%;
  color: white;
}

.container {
  width: 62%;
  height: 100vh;
  margin: 0 auto;
}

.active {
  color: rgb(159, 159, 255);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color:rgb(191, 191, 252);
}


ul {
  list-style: none;
  margin: 0 auto;
}

li a{
  color: rgb(235, 235, 250);
  list-style: none;
  text-decoration: none !important;
}

.navbar {
  color: #fff;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  padding: 10px;
}

.nav-logo a{
  font-size: 24px;
  font-family: 'Philosopher', Times, serif;
  text-decoration: none;
  color: rgb(235, 235, 250);
}

/*partial border after the logo*/
.nav-logo:after {
  border-bottom: 4px solid red;
  content: '';
  display: block;
  margin-left: 35%;
  width: 50%;
}

.nav-logo:hover {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  border: none;
}

.nav-menu {
  list-style: none;
  display: flex;
  padding: 14px;
}

.nav-item {
  margin-left: 20px;
  cursor: pointer; 
  width: 56px;
  text-align: center;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: rgb(243, 74, 74);
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.main-content {
  padding: 2px;
}